#modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200000;
  background: #4e0da33b;
  backdrop-filter: blur(1px);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
}

.modal_wrapper {
  background: #fff;
  width: 65%;
  animation: modalBox 0.2s linear;
  transition: all 0.2s ease-in-out;
  position: relative;
}

@keyframes modalBox {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* MODAL HEADER */
.modal_header {
  padding: 10px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7a1;
}

.modal_header .arrow_back {
  color: #222222;
  font-size: 20px;
}

.modal_header .title {
  color: #000;

  font-size: 20px;
  font-weight: 500;
}

.modal_header img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* MODAL BODY */
/* EDIT PROFILE */
.edit_profile_container {
  padding: 10px 20px;
}

.edit_profile_images {
  display: flex;
  flex-direction: column;
}

.top_image {
  position: relative;
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.top_image > input {
  display: none;
}

.top_image > label {
  position: absolute;
  right: 6px;
  bottom: 6px;

  width: 32px;
  height: 32px;
  background: #ff8a15;
  cursor: pointer;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 18px;
}

.top_image_container {
  width: 100%;
  height: 100%;
}

.top_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top_image_container .stalling {
  width: 100%;
  height: 100%;
  background-color: #4f0da3;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffff;
  gap: 10px;
}

.top_image_container .stalling h2 {
  font-size: 14px;
}

.top_image_container .stalling .stalling_photo_alt {
  font-size: 20px;
}

.bottom_image {
  margin-top: -7.5rem;
  /* padding: 10px 0; */
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.bottom_image > p {
  font-size: 14px;
  font-weight: 400;
}

.bottom_image .image {
  position: relative;
  width: 130px;
  height: 130px;
}

.bottom_image .image label {
  position: absolute;
  right: 6px;
  bottom: 6px;

  width: 32px;
  height: 32px;
  background: #ff8a15;
  cursor: pointer;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 18px;
}

.bottom_image .image .stalling_image {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  border-radius: 80%;
  border: 1px solid #4f0da3;
}

.bottom_image .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.edit_profile_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit_profile_content > div {
  width: 100%;
  display: flex;
  gap: 20px;
}

.edit_profile_content .profile_input,
.edit_profile_content .textarea_container {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #c6c6c6;
  border-radius: 7px;
  font-size: 14px;

  transition: all 0.4s ease;
}

.edit_profile_content .profile_input:focus,
.edit_profile_content .textarea_container:focus {
  background: #f3f3f3;
}

.edit_profile_content .option {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}

.edit_profile_content .option label {
  font-size: 14px;
  font-weight: 300;
}

.edit_profile_content .option .content {
  display: flex;
  gap: 10px;
}

.edit_profile_content .textarea_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
}

.edit_profile_content .textarea_container textarea {
  width: 100% !important;
  resize: none;
}

.edit_profile_content .textarea_container textarea::-webkit-scrollbar {
  width: 0vh;
}

.edit_profile_content .textarea_container span {
  align-self: flex-end;
}

/* Phone IMEI/ Gadget serial no */
.gadget_container {
  padding: 10px 20px;
  height: 600px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

.gadget_container::-webkit-scrollbar {
  width: 0vw;
}

.imei_serial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.5rem 0;
}

.imei_serial_number {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d0d5dd;
  cursor: pointer;
}

.imei_serial_number_text h4 {
  color: #000;

  font-size: 14px;
  font-weight: 400;
}

.imei_serial_number_text span {
  color: #ff8a15;

  font-size: 12px;
  font-weight: 400;
}

.imei_serial_number_icon svg {
  width: 20px;
  height: 20px;
}

.imei_serial_addition {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 99;

  width: 50px;
  height: 50px;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  background: #4f0da3;
  box-shadow: 0px 4px 4px 0px #00000040;
  align-self: flex-end;
  cursor: pointer;
  color: #ffff;
}

.imei_serial_addition #plus {
  font-size: 20px;
}

/* Phone IMEI Lists */
.phone_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

.imei_phone {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--STROKE, #d0d5dd);
}

.imei_phone_top {
  padding: 8px 14px;
  border-radius: 7px;
  border: 1px solid #d0d5dd;
}

.imei_phone_top h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.imei_phone_top p {
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  width: 70%;
}

.imei_phone_bottom {
  display: flex;
  gap: 10px;
}

.imei_phone_bottom button {
  width: 100%;
  height: 35px;
  padding: 10px;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 10px;
  text-align: center;
  border: none;
  color: #fff;

  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.imei_phone_bottom button:first-child {
  background: #f00;

  &:hover {
    background-color: #d60808;
  }
}

.imei_phone_bottom button:last-child {
  background: #4f0da3;

  &:hover {
    background: #3c0a7e;
  }
}

.new_input_form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 5rem;
}

.new_input_form .input {
  border-radius: 8px;
  border: 1px solid #acacaca9;
  padding: 10px 20px;

  font-size: 12px;
  font-weight: 400;
  color: #000000cc;
}

.new_input_form button {
  height: 40px;
  border-radius: 30px !important;
  font-size: 17px;
  font-weight: 300;
  transition: all 0.3s ease;

  margin-top: 5rem;
}

.new_input_form button:hover {
  background: #3c0288ce;
}

/* CHANGE PASSWORD MODAL */
.change_password_container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.change_password_container_top,
.change_password_container_middle,
.change_password_container_bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change_password_container h2 {
  font-size: 15px;
  font-weight: 500;
}

.change_password_container .password_input {
  width: 100%;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  border: 2px solid #c5c5c579;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.change_password_container .password_input:focus-within {
  background: #dadada71;
}

.change_password_container input {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 200;
  border: none;
}

.show_eye {
  font-size: 20px !important;
  color: #00000033;
}

.change_password_container_middle p {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.change_password_container_bottom {
  padding: 5rem 0;
}

.change_password_container_bottom button:last-child {
  font-size: 20px;
  font-weight: 400;
  color: #c43d27;
  text-decoration: underline;
}

/* MEDIA QUERY */
@media screen and (max-width: 1150px) {
  #modal {
    backdrop-filter: blur(0px);
  }

  .modal_wrapper {
    width: 100%;
    height: 100%;
  }

  .change_password_container {
    padding: 30px 20px;

    height: 90vh;
  }

  .change_password_container_bottom {
    margin-top: 25rem;
  }

  .change_password_container_bottom > button,
  .change_password_container_bottom button:last-child {
    font-size: 16px;
  }

  .edit_profile_container {
    overflow-y: auto;
    height: 92.5vh;
  }

  .edit_profile_content > div {
    flex-direction: column;
    gap: 8px;
  }

  .gadget_container {
    padding: 10px 15px;
    height: 90vh;
    overflow-y: auto;
    margin-bottom: 0rem;
  }
}
