.post-media-container {
    margin: 8px 0;
  }

  .post-media-single-grid img,
  .post-media-double-grid img,
  .post-media-triple-grid img,
  .post-media-grid img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .post-media-double-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem;
  }

  .post-media-triple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(46.5%, 1fr));
    row-gap: .7rem;
    column-gap: .7rem;
  }

  .post-media-grid,
  .grid-with-overlay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31.6%, 1fr));
    row-gap: .7rem;
    column-gap: .7rem;
  }

  .post-media-grid img:first-child,
  .grid-with-overlay img:first-child,
  .post-media-triple-grid img:first-child {
    grid-column: 1/4;
  }

  .post-media-grid img:not(:first-child),
  .grid-with-overlay img:not(:first-child),
  .post-media-triple-grid img:not(:first-child) {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .grid-media-overlay-item {
    height: 100px;
    position: relative;
  }

  .grid-media-count {
      position: absolute;
      width: 100%;
      height: 100px;
      top: 0;
      background: rgba(0, 0, 0, 0.548);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: white;
  }

  .post-media-triple-grid img:not(:first-child),
  .grid-media-overlay-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  @media screen and (max-width: 500px) {
    .post-media-grid img,
    .grid-with-overlay img {
        max-height: 300px;
        min-height: 100%;
      }
  }