/* .product-main-deatils-box {
  display: flex;
  width: 100%;
  gap: 15px;
  height: 420px;
  border: none;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.product-cover-img {
  width: 50%;
  height: 400px;
}
.product-det-box-con {
  width: 50%;
}
.product-cover-img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.other-pic-each img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}
.pro-nm-tst {
  font-size: 18px;
  font-weight: 600;
}
.produc-loc-tst {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px 0;
}
.pro-duc-pri-tst {
  font-size: 15px;
  font-weight: 600;
  color: #4f0da3;
}
.other-img-box {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  overflow-y: auto;
  margin: 10px 0;
  scrollbar-width: normal;
}
.other-img-box::-webkit-scrollbar {
  height: 0.1vh;
  background: none;
}
.pro-dis-head {
  font-size: 15px;
  font-weight: 500;
}
.desc-cont-body {
  margin-top: 5px;
  font-size: 13px;
  margin-bottom: 30px;
}
.mess-cart-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.mess-cart-btn {
  background: #4f0da3;
  width: 50%;
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.orq {
  background: #ff8a15;
}
.busi-abt {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.im-pro img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.pro-text-bx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.prof-nameo {
  font-size: 16px;
  font-weight: 500;
}
.view-pro {
  font-size: 12px;
}
.fed-pro-bx {
  display: flex;
  align-items: center;
  gap: 10px;
}
.review-pro-box {
  margin-top: 30px;
}
.name-reviwer {
  font-size: 14px;
  font-weight: 500;
}
.sstr {
  color: #ff8a15;
  font-size: 20px;
}
.rate-perc {
  font-size: 14px;
  display: flex;
  gap: 2px;
  align-items: center;
}
.review-text {
  font-size: 14px;
}
.rate-name-coll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.review-box {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 10px 0;
}
.review-item-container {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.review-inp-con {
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  resize: none;
  padding: 10px;
  outline: none;
}
.rate-act-tton {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-row-box {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.detail-modal-cont {
  position: absolute;
  right: 0;
}
.left-store-bx-col {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.left-store-bx-col img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.store-nmm {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.store-main-pro {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}
.right-cont-bx {
  font-size: 20px;
  cursor: pointer;
}
.store-card-cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(217, 217, 217, 0.2);
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .product-main-deatils-box {
    flex-direction: column;
  }
  .product-cover-img {
    width: 100%;
    height: 500px;
  }
  .product-det-box-con {
    width: 100%;
  }
  .product-cover-img img {
    height: 500px;
    width: 100%;
  }
  .product-main-deatils-box {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .product-cover-img {
    width: 100%;
    height: 300px;
  }

  .product-cover-img img {
    height: 300px;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .product-cover-img {
    height: 250px;
  }

  .product-cover-img img {
    height: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .product-cover-img {
    height: 100%;
  }

  .product-cover-img img {
    height: 100%;
  }
} */
