.post-menu-container button svg{
    transform: rotate(90deg);
    font-size: 2.2rem;
}

.post-menu-dropdown ul li {
    font-size: 1.3rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 1rem !important;
}

.post-menu-dropdown ul li:last-child {
    color: rgb(218, 9, 9) !important;
}
