*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Poppins";
}
/* body {
  background: #f5f5f5 !important;
} */
a {
  text-decoration: none;
  /* font-family: "Ubuntu"; */
}
.css-10hburv-MuiTypography-root {
  font-family: "Ubuntu" !important;
  /* color: rgb(83, 39, 141); */
}

/* html {
  font-size: 98% !important;
} */

* svg {
  cursor: pointer;
}

.current_nav {
  color: #fff;
}
.current_nav svg {
  fill: #fff;
}
.current_nav a div {
  color: #fff;
}

/* grid-columns-layouts */
.grid_commerce {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

/* grid-product-details-layout */
.grid_details_container {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: 1.1rem;
  justify-content: start;
}

/* sub-container-grid */
.grid_sub_container_one {
  grid-column: 1;
}
.grid_sub_container_two {
  grid-column: 2;
}

@media only screen and (max-width: 678px) {
  .grid_details_container {
    grid-template-columns: none;
    grid-auto-flow: row;
    column-gap: none;
  }
  .grid_sub_container_one {
    grid-column: none;
  }
  .grid_sub_container_two {
    grid-column: none;
  }
}
.fc {
  align-items: flex-start !important;
}
.center_al {
  align-items: center !important;
}

/* grid-buttons */
.grid-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 6px;
}
.grid-btns-action {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(150px + 0px), 1fr));
  gap: 6px;
}

/* drop-down */
.select_drop {
  font-family: Ubuntu !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.label_style {
  margin-bottom: 0 !important;
}

.centered {
  text-align: left !important;
}

.MuiFormControl-root {
  border-radius: 0.7rem !important;
}
.MuiInputBase-formControl {
  border-radius: 0.7rem !important;
}

label {
  font-family: "Ubuntu" !important;
}

.flex_setaddress {
  display: flex;
  flex-direction: row !important;
  gap: 1rem;
  align-items: center !important;
}
overlay_modal::scroll {
  width: 0px;
  height: 0px;
  background: transparent;
}
overlay_modal::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.callsidebar {
  display: none;
}

/* mobile-category */
.mobile_category_container {
  display: none;
}
.mobile_category::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.mobile_logo {
  display: none;
}
/* obile-display-navs */
.mobile_display {
  display: none !important;
}

/* ///--------------------MEDIA QUERIES------------- */
@media only screen and (max-width: 650px) {
  .share_mobile {
    width: 350px;
  }
}
@media only screen and (max-width: 450px) {
  .share_mobile {
    width: 300px;
  }
}
@media only screen and (max-width: 870px) {
  .sidebar {
    transition: transform 400ms ease-in-out;
    transform: translateX(-100%);
  }
  .callsidebar {
    display: block;
  }
  .navBar {
    padding-left: 0 !important;
  }
  .main_commerce {
    padding-left: 1.6em !important;
  }
  .toggle {
    display: block;
  }
  .input-search::placeholder {
    width: 50px !important;
  }
  .silde_in {
    transform: translateX(0);
  }
  .sideStacknav {
    display: none;
  }
  .mobile_category_container {
    display: block;
  }
  .main_container {
    padding-right: 1.2em;
  }
}

.mobile_view_modal {
  z-index: 10000;
}
@media only screen and (max-width: 730px) {
  .mobile_view_modal {
    width: 600px;
  }
}
@media only screen and (max-width: 670px) {
  .mobile_view_modal {
    width: 500px;
  }
}

@media only screen and (max-width: 515px) {
  .mobile_view_modal {
    width: 100vw;
    height: 100vh !important;
    max-height: 100vh !important;
  }
}

/* search-box */
@media only screen and (max-width: 880px) {
  .input-search {
    width: 300px;
  }
}
@media only screen and (max-width: 753px) {
  .input-search {
    width: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .input-search {
    display: none !important;
  }
  .svg_input {
    font-size: 100px !important;
  }
}

@media only screen and (max-width: 575px) {
  .nav_lg_data {
    display: none !important;
  }
  .mobile_display {
    display: flex !important;
  }
  .main_commerce {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .navBar {
    background: #4f0da3 !important;
  }

  .mobile_logo {
    display: block;
  }
  .desktop_logo {
    display: none;
  }
  .logo_text {
    color: #ffff !important;
    display: none;
  }
  .suggested_container {
    justify-content: center;
  }
  .grid-btns {
    display: none;
  }
  .grid_sub_container_one,
  .mob_pad {
    padding: 0;
    padding-inline: 1rem !important;
  }
  .grid_sub_container_two {
    padding: 0;
  }
  .grid_details_container {
    gap: 0;
  }
  .mob_bg {
    background: #d9d9d9;
  }
  .layout_main {
    gap: 0 !important;
    justify-content: unset !important;
  }
  .mob_styled {
    background: #d9d9d9;
    padding-left: 1rem;
    padding-block: 1rem;
    width: 100%;
    text-align: left !important;
  }
  .main_container {
    padding-right: 0px;
  }
  .cart_mobile {
    padding-inline: 1rem;
  }
  img.img_ads {
    height: 60px;
    object-fit: cover;
  }
  .mobile_productinfo {
    display: none;
  }
  .product_deatils_container {
    margin-top: 0 !important;
  }
  .product_info_sticky_nav {
    position: sticky !important;
    top: 0;
    user-select: none;
  }
}
