* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* 
*--------------------------
* This is the official layout for the project. Please do not change or modify anything here 
*--------------------------
*/
.app_layout {
  display: grid;
  grid-template-columns: 26rem 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.app_header {
  padding: 0 1.8rem;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app_aside {
  grid-row: 1 / -1;

  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  background: #4f0da3;
}

.app_main {
  padding: 1rem 1.5rem;
  overflow: hidden;
}

.layout-container {
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* REWARD LAYOUT STYLING STARTS HERE */
.reward_container {
  width: 80%;
  height: 100%;
  background: #e6e6e6e1;
  position: absolute;

  padding: 110px 20px 0px 20px;

  display: flex;
  gap: 10px;
}

.reward_large_header {
  display: block;
}

.reward_small_header {
  display: none;
}

.reward_container .left {
  flex: 5;
  background-color: none;
}

.reward_container .right {
  flex: 3;
  background-color: #ffff;

  padding: 20px;
}

.how_to_earn_container {
  width: 437px;
  height: 275px;
  padding: 24px 9px 24px 9px;
  border-radius: 10px;
  background: #d0d5dd;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how_to_earn_container h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.how_to_earn_container .lists {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.how_to_earn_container .lists li {
  height: 52px;
  padding: 10px 5px 10px 5px;

  border-radius: 5px;
  background: #ffffff;

  display: flex;
  align-items: center;
  gap: 10px;
}

.how_to_earn_container .lists li span:first-child {
  padding: 5px 8px 4px 9px;
  border-radius: 5px;

  background: linear-gradient(180deg, #ff8a15 0%, #ff8a1500 100%);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
}

.how_to_earn_container .lists li span:last-child {
  font-size: 14px;
  font-weight: 400;
  color: #403f3f;
}

/* REWARD LAYOUT STYLING ENDS HERE*/
.reward_main {
  height: 92%;
  padding: 0px 10px;

  overflow-y: auto;

  background-color: #ffff;
}
.layout-container {
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

@media only screen and (max-width: 1150px) {
  /* REWARD LAYOUT STYLING STARTS HERE */
  .reward_container {
    width: 100%;
    flex-direction: column;

    padding: 0;
  }

  .reward_modal_header {
    display: block;
  }

  .reward_container .left {
    background: none;
  }

  .reward_container .right {
    display: none;
  }

  .how_to_earn_container {
    width: 100%;
  }

  .reward_large_header {
    display: none;
  }

  .reward_small_header {
    display: block;
  }

  .how_to_earn_container .lists li span:first-child,
  .how_to_earn_container .lists li span:last-child {
    font-size: 10px;
  }

  .how_to_earn_container h2 {
    font-size: 17px;
  }
}
